@import "tailwindcss";

@layer components {
  .container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 16px;
  }

  @media (min-width: 640px) {
    .container {
      max-width: 640px;
    }
  }
  @media (min-width: 768px) {
    .container {
      max-width: 768px;
    }
  }
  @media (min-width: 1024px) {
    .container {
      max-width: 1024px;
    }
  }
  @media (min-width: 1280px) {
    .container {
      max-width: 1280px;
    }
  }

  /* Hamburger Line */
  .hamburger-line {
    display: block;
    width: 30px;
    height: 2px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    background-color: #0f172a;

    /* Animasi Hamburger Active */
    .hamburger-active > span:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px);
    }
    .hamburger-active > span:nth-child(2) {
      transform: scale(0);
    }
    .hamburger-active > span:nth-child(3) {
      transform: rotate(-45deg) translate(5px, -6px);
    }

    /* Navbar Fixed */
    .navbar-fixed {
      position: fixed;
      z-index: 9999;
      background-color: rgba(255, 255, 255, 0.7);
      backdrop-filter: blur(5px);
      box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.2);
    }
  }
}

/* Font Inter Global */
body {
  font-family: "Inter", sans-serif;
}
