@import "tailwindcss";

@theme {
  /* Ini pengganti extend colors di config js */
  --color-primary: #14b8a6;
  --color-dark: #0f172a;
  --color-secondary: #64748b;

  /* Ini buat container biar otomatis tengah (center: true) */
  --spacing-container-padding: 16px;
}

/* Custom Utilities */
@utility container {
  margin-inline: auto;
  padding-inline: var(--spacing-container-padding);
}
